<!-- // Footer // -->
<section>
    <div class="push"></div>

    <!-- Footer -->
    <footer id="sticky-footer" class="py-4 bg-primary text-white-50 container-fluid footer">

        <!-- Copyright -->
        <div class="container text-center">

            <small>
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item">
                    <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                    <a href="#">Privacy Policy</a>
                    </li>
                </ul>
            </small>
            
            <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="http://mlkenterprises.co.za/facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="http://mlkenterprises.co.za/twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="http://mlkenterprises.co.za/instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="http://mlkenterprises.co.za/youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="mailto:info@mlkenterprises.co.za" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>

            <small>Copyright &copy; 2020 <a href="/">mlkenterprises.co.za</a></small>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</section>